Lib/site-packages/
Scripts/
pyvenv.cfg
*.pyc
**/__pycache__/**
.vscode/
.venv/
htmlcov/


# runtime
photo_server/media/
*.sqlite3
setting
.coverage
ma-photo1.jpg/
photo1.jpg/
media/*
photobooth/json/key
settingsk.py
key.py
