<div class="modal-header">
    <h5 class="modal-title">Mot de passe</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form action="maintenance/" method="post" id="form-add-pb">
        <div class="form-group">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="id_photobooth" value="{{ photobooth.pk }}">
            <input type="password" name="password">
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
    </form>
</div>