<ul class="navbar-nav">
    {% if userdata is defined %}
    <li class="nav-item dropdown ml-auto">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ userdata.picture }}" width="30" height="30" class="d-inline-block rounded-circle" alt="{{user.first_name}}" />
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Paramétres</a>
            <a class="dropdown-item" href="{{ url('validpb') }}" data-toggle="modal" data-target="#modalview" id="ajoutepb">ajouter un photo booth</a>
            <div class="dropdown-divider"></div>
            {% if user.is_superuser %}
            <a class="dropdown-item" href="{{ url('admin:index') }}">Administration</a>
            <div class="dropdown-divider"></div>
            {%endif%}
            <a class="dropdown-item" href="{{ url('logout') }}">Se déconnecter</a>
        </div>
    </li>

    {% else %}
    <li class="nav-item text-nowrap">
        <a class="nav-link" href="{{ url(" social:begin ", kwargs={"backend ": "auth0 "}) }}">Se connecter</a>
    </li>
    {% endif %}
</ul>