{% extends "base.html" %} 


{% block nav %}
{% include 'nav.html' %}
{% endblock %}

{% block sidemenu %}
{% include 'sidemenu.html'%}
{% endblock %}

{% block main%}
{% include 'photobooth_main.html'%}
{% endblock %}

{% block modal %}
  <div class="modal fade" id="modalview" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content modalview-content"></div>
    </div>
  </div>
{% endblock %}

{%block script%}
{% include 'script.html' %}
{% endblock %}