    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.5/examples/dashboard/dashboard.js"></script>$
    <script>

    $(document).ready(function() {
    $(".dropdown-toggle").dropdown();
});
        function switchStyle() {
            if (document.getElementById('styleSwitch').checked) {
                document.getElementById('gallery').classList.add("custom");
                document.getElementById('exampleModal').classList.add("custom");
            } else {
                document.getElementById('gallery').classList.remove("custom");
                document.getElementById('exampleModal').classList.remove("custom");
            }
        }
    </script>